.page-header {
  font-size: 16px;
  font-weight: bold; }

.search-bar .search-btn {
  margin-top: 25px;
  width: 100%; }

.results {
  margin-top: 20px; }

.template {
  display: none; }

/*# sourceMappingURL=custom.css.map */
