<div class="row">
  <div class="page-header">Flight search</div>
</div>

<div class="row">
  <div class="search-bar">
    <div class="col-md-3">
      <label for="fromInput">From</label>
      <input type="text" class="form-control typeahead" id="fromInput" placeholder="From">
    </div>
    <div class="col-md-3">
      <label for="toInput">To</label>
      <input type="text" class="form-control typeahead" id="toInput" placeholder="To">
    </div>
    <div class="col-md-3">
      <label for="dateInput">Date</label>
      <input type="text" class="form-control" id="dateInput" placeholder="Date">
    </div>
    <div class="col-md-3">
      <div class="search-btn btn btn-primary">Search</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 results">

  </div>
</div>

<div class="tab-template template">
  <ul class="nav nav-tabs tablist" role="tablist">
  </ul>
  <div class="tab-content">
  </div>
</div>

<div class="table-template template">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Airline</th>
      <th>Flight num</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Duration (min)</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
